:root {
    --toggle-switch-slider__size: calc(var(--toggle-switch_height) - 8px);
}

.toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

    .toggle-switch__slider::before {
        position: absolute;
        content: "";
        height: var(--toggle-switch-slider__size);
        width: var(--toggle-switch-slider__size);
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 15px;
    }

