<div data-node-id="{{nodeId}}" class="slide-wrapper">
    <script data-schemeName='{{schemeName}}' type="application/json">{{schemeContent}}</script>
    <script data-object type="application/json">{{data}}</script>

    <div class="slide-wrapper__container">
        <div class="plus-button"></div>
    </div>
    <div class="slide-wrapper__container slide-wrapper__thumbnail">
        <div class="image image--third-size {{imageModifier}}"></div>
        <span class="slide-wrapper__thumbnail-title">{{title}}</span>
    </div>

    <script type="module" src="/js/blocks/available-slide/AvailableSlideControl.js">
    </script>
</div>
