<div class="input-title" data-type="text" remove-for="{{removeFor}}">
    <p class="input-title__title" data-kind="title">{{title}}</p>
    <div style="display: flex; gap: 10px; align-items: center">
        <input class="text-input-wrap" style="flex-grow: 9" data-kind="value" value='{{inputValue}}' placeholder='{{placeholder}}' child-for="{{childFor}}" meta-value="{{metaValue}}" />
        <button style="flex-grow: 1" class="button" remove-for="{{removeFor}}">
            <img src="../../img/delete.svg" alt="Remove" />
        </button>
    </div>
</div>