.slide-wrapper__thumbnail {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--gray_lightest);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
