<div class="main-grid-container">

    <div class="header-container grid-placement_top grid-placement_column-span-full">
        <div class="content-container flex_flex-row">

       </div>
    </div>

    @* LEFT SIDEBAR *@
    <div class="sidebar grid-placement_left">
        <div class="sidebar__container">

            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__container slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__container slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @* CENTER *@
    <div class="content-container grid-placement_center background-gray" >
        <h1>center</h1>
    </div>

    @* RIGHT SIDEBAR *@
    <div class="sidebar grid-placement_right">
        <div class="sidebar__container">
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="slide-wrapper">
                    <div class="slide-wrapper__plus-button"></div>
                    <div class="slide-wrapper__thumbnail">
                        <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                        <span class="slide-wrapper__thumbnail-title">Info slide</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>