
<header class="header placement-fixed--top grid-placement_column-span-full">
</header>

@* LEFT SIDEBAR *@
<div class="sidebar placement-fixed--left">
    <div class="sidebar__container">

        <div class="sidebar__item">
            <div class="slide-wrapper">
                <div class="slide-wrapper__container slide-wrapper__container--no-border">
                    <span class="simple-text simple-text--weight-bold" index="1">1</span>
                </div>
                <div class="slide-wrapper__container slide-wrapper__thumbnail">
                    <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                    <span class="slide-wrapper__thumbnail-title">Info slide</span>
                </div>
            </div>
        </div>

    </div>
</div>

@* CENTER *@
<div class="content-container grid-placement_column-span-full">
    <div class="slide-tuner">
        <div class="slide-tuner__card">
            <div class="slide-tuner__item">
                <div class="input-title">
                    <p class="input-title__title">Title</p>
                    <input class="text-input-wrap" placeholder="Title" />
                </div>

            </div>
            <div class="slide-tuner__item">
                <div class="input-title">
                    <p class="input-title__title">Subtitle</p>
                    <input class="text-input-wrap" placeholder="Subtitle" />
                </div>

            </div>
            


        </div>
    </div>
</div>

@* RIGHT SIDEBAR *@
<div class="sidebar placement-fixed--right">
    <div class="sidebar__container">
        <div class="sidebar__item">
            <div class="slide-wrapper">
                <div class="slide-wrapper__container">
                    <div class="plus-button"></div>
                </div>
                <div class="slide-wrapper__container slide-wrapper__thumbnail">
                    <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                    <span class="slide-wrapper__thumbnail-title">Info slide</span>
                </div>
            </div>
        </div><div class="sidebar__item">
            <div class="slide-wrapper">
                <div class="slide-wrapper__container">
                    <div class="plus-button"></div>
                </div>
                <div class="slide-wrapper__container slide-wrapper__thumbnail">
                    <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                    <span class="slide-wrapper__thumbnail-title">Info slide</span>
                </div>
            </div>
        </div><div class="sidebar__item">
            <div class="slide-wrapper">
                <div class="slide-wrapper__container">
                    <div class="plus-button"></div>
                </div>
                <div class="slide-wrapper__container slide-wrapper__thumbnail">
                    <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                    <span class="slide-wrapper__thumbnail-title">Info slide</span>
                </div>
            </div>
        </div><div class="sidebar__item">
            <div class="slide-wrapper">
                <div class="slide-wrapper__container">
                    <div class="plus-button"></div>
                </div>
                <div class="slide-wrapper__container slide-wrapper__thumbnail">
                    <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                    <span class="slide-wrapper__thumbnail-title">Info slide</span>
                </div>
            </div>
        </div><div class="sidebar__item">
            <div class="slide-wrapper">
                <div class="slide-wrapper__container">
                    <div class="plus-button"></div>
                </div>
                <div class="slide-wrapper__container slide-wrapper__thumbnail">
                    <div class="image image--third-size slide-wrapper__thumbnail-picture--info"></div>
                    <span class="slide-wrapper__thumbnail-title">Info slide</span>
                </div>
            </div>
        </div>

    </div>
</div>

