
<meta data-quiz-id="" data-quiz-userid="" data-quiz-title="" data-quiz-description="" />

<header class="header placement-fixed--top grid-placement_column-span-full">
</header>

@* LEFT SIDEBAR *@
<div class="sidebar placement-fixed--left">
    <div id="left-sidebar-container" class="sidebar__container">

    </div>
    <script type="module" src="/js/blocks/sidebar/__container/sidebar__container.js"></script>
</div>

@* CENTER *@
<div class="content-container grid-placement_column-span-full">
    <div class="slide-tuner">

        <div class="slide-tuner__card">

            <div class="slide-tuner__item">
                <div class="input-title">
                    <p class="input-title__title">Title</p>
                    <input class="text-input-wrap" placeholder="Title" />
                </div>
            </div>

            <div class="slide-tuner__item">
                <div class="input-title">
                    <p class="input-title__title">Subtitle</p>
                    <input class="text-input-wrap" placeholder="Subtitle" />
                </div>

            </div>

        </div>

    </div>
</div>

@* RIGHT SIDEBAR *@
<div class="sidebar placement-fixed--right">
    <div id="right-sidebar-container" class="sidebar__container">

    </div>
</div>

