
<meta data-quiz-id="" data-quiz-userid="" data-quiz-title="" data-quiz-description="" />

<meta id="global-meta" />

<header class="header placement-fixed--top grid-placement_column-span-full">
</header>

@* LEFT SIDEBAR *@
<div class="sidebar placement-fixed--left">
    <div id="left-sidebar-container" class="sidebar__container" data-order-max="0">
        
    </div>

</div>

@* CENTER *@
<div class="content-container grid-placement_column-span-full">
    <div class="slide-tuner">
        <div class="slide-tuner__card">
            <script data-meta-id type="application/json"></script>
        </div>
    </div>
</div>

@* RIGHT SIDEBAR *@
<div class="sidebar placement-fixed--right">
    <div id="right-sidebar-container" class="sidebar__container">

    </div>

</div>


