<div class="main-grid-container">

    <div class="header-container grid-placement_top grid-placement_column-span-full">
        <div class="content-container flex_flex-row">

       </div>
    </div>

    <div class="sidebar grid-placement_left" >
        <div class="content-container overflow_vertical height_full-without-header">
       </div>
    </div>

    <div class="content-container grid-placement_center background-gray" >
        <h1>center</h1>
    </div>

    <div class="sidebar grid-placement_right">
        <div id="available-blocks-container" class="content-container overflow_vertical height_full-without-header flex_flex-column flex_top-center flex_gap_15 ">
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
            <div class="sidebar__item flex_no-shrink"></div>
        </div>
    </div>

</div>