
<meta data-quiz-id="" data-quiz-userid="" data-quiz-title="" data-quiz-description="" />

<div data-global-meta hidden>
</div>

@* <script data-global-meta type="application/json"></script> *@

<header class="header placement-fixed--top grid-placement_column-span-full">
</header>

@* LEFT SIDEBAR *@
<div class="sidebar placement-fixed--left">
    <div id="left-sidebar-container" class="sidebar__container">
        
    </div>
    <script type="module" src="/js/blocks/sidebar/__container/sidebar__container.js"></script>
    <script type="module" src="/js/blocks/sidebar/__item/sidebar__item-clickEventHandler.js"></script>
</div>

@* CENTER *@
<div class="content-container grid-placement_column-span-full">
    <div class="slide-tuner">
        <div class="slide-tuner__card">
            <script data-object type="application/json"></script>
        </div>
        <script type="module" src="/js/blocks/slide-tuner/__item/slide-tuner__item-clickEventHandler.js"></script>
        <script type="module" src="/js/blocks/slide-tuner/__item/slide-tuner__item-changeEventHandler.js"></script>
    </div>
</div>

@* RIGHT SIDEBAR *@
<div class="sidebar placement-fixed--right">
    <div id="right-sidebar-container" class="sidebar__container">

    </div>
</div>

