<div class="main-grid-container">

    <div class="sidebar grid-placement_left" >
        <h1>left sidebar</h1>
    </div>

    <div class="content grid-placement_center background-gray" >
        <h1>center</h1>
    </div>

    <div class="sidebar grid-placement_right">
        <h1>right sidebar</h1>
    </div>

</div>