<link rel="stylesheet" href="~/css/shared/style.css" />

<div class="wrapper">
    <header class="header">
        <div class="container-fluid">
            <div class="wrap-head">
                <div class="left-head-links">
                    <a href="#" class="grey-link"><img src="img/arrowgrey.svg" alt="" /> Back</a>
                    <a href="#" class="blue-link"><img src="img/plus.svg" alt="" /> Add block</a>
                </div>
                <div class="right-head-links">
                    <div class="nav-pagination">
                        <a href="#" class="prev"><img src="img/prev.svg" alt="" /> </a>
                        <a href="#" class="next"><img src="img/next.svg" alt="" /> </a>
                    </div>
                    <a href="#" class="blue-link"><img src="img/save.svg" alt="" /> Save</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main main--home">
        <div class="sidebar sidebar--left">
            <div class="content-left-sidebar">
                <div class="item-sidebar draggable block " draggable="true">
                    <div class="wrap-sidebar">
                        <span class="col-side">1</span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s1.svg" alt="" /> </span>
                            <p>Input</p>
                        </div>
                    </div>
                </div>
                <div class="item-sidebar draggable block active-sidebar-item" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="col-side">2</span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s2.svg" alt="" /> </span>
                            <p>How often do you think about the health of your skin?</p>
                        </div>
                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="col-side">3</span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s3.svg" alt="" /> </span>
                            <p>How often do you think about the health of your skin?</p>
                        </div>
                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="col-side">4</span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s4.svg" alt="" /> </span>
                            <p>How often do you think about the health of your skin?</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-content">
            <div class="item">
                <span class="tittle">This quiz</span>
                <div class="line-question">
                    <span class="tittle-line_question">Name</span>
                    <span class="name-line_question">How often do you think about the health of your skin?</span>
                </div>
                <div class="dates-question">
                    <div class="item-date_quest">
                        <p>Start date</p>
                        <input type="date" value="DD.MM.YYYY">
                    </div>
                    <div class="item-date_quest">
                        <p>End date</p>
                        <input type="date" value="DD.MM.YYYY">
                    </div>
                </div>
                <div class="toggle-wrap">
                    <input checked type="checkbox" id="toggle" class="toggle-switch" />
                    <label for="toggle"></label>
                </div>
            </div>
            <div class="item">
                <span class="tittle">Input</span>
                <div class="wrap-image_hidden">
                    <div class="toggle-wrap toggle-wrap-image">
                        <input type="checkbox" id="toggle2" class="toggle-switch" />
                        <label for="toggle2"></label>
                    </div>
                    <div class="hidden-image_download">
                        <div class="custom-file-input">
                            <label for="file-input">
                                <span>Add image</span>
                            </label>
                            <input type="file" id="file-input">
                        </div>


                    </div>
                </div>
                <div class="text-input-wrap">
                    <p>Input description</p>
                    <input placeholder="Text">
                </div>
                <div class="links-foot">
                    <a href="#" class="delete"><img src="img/delete.svg" alt="" />Delete </a>
                    <div class="pagination-questions">
                        <span class="up"></span>
                        <span class="down"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <span class="tittle">Skin Tone</span>
                <div class="content-colors">
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #F8DDD4;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #F7CEB0;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #F6C2A4;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #E6A375;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #D28C5C;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #A76D3B;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #8E532B;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #6B3B24;">
                        </span>
                    </label>
                    <label class="label-check5">
                        <input type="radio" name="group5">
                        <span style="background: #A3948C;">
                        </span>
                    </label>

                </div>
                <div class="links-foot">
                    <a href="#" class="delete"><img src="img/delete.svg" alt="" />Delete </a>
                    <div class="pagination-questions">
                        <span class="up"></span>
                        <span class="down"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <span class="tittle">Slider</span>
                <div class="wrap-image_hidden">
                    <div class="toggle-wrap toggle-wrap-image">
                        <input type="checkbox" id="toggle3" class="toggle-switch" />
                        <label for="toggle3"></label>
                    </div>
                    <div class="hidden-image_download">
                        <div class="custom-file-input">
                            <label for="file-input3">
                                <span>Add image</span>
                            </label>
                            <input type="file" id="file-input3">
                        </div>


                    </div>
                </div>
                <div class="line-question">
                    <span class="tittle-line_question">Question</span>
                    <span class="name-line_question">How often do you think about the health of your skin?</span>
                </div>

                <div class="wrap-noui-slider">
                    <div class="slider-styled" id="slider-round"></div>
                </div>
                <div class="links-foot">
                    <a href="#" class="delete"><img src="img/delete.svg" alt="">Delete </a>
                    <div class="pagination-questions">
                        <span class="up"></span>
                        <span class="down"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <span class="tittle">Checkbox</span>
                <div class="item-checkbox-question">
                    <div class="line-question">
                        <span class="tittle-line_question">Question</span>
                        <span class="name-line_question">How often do you think about the health of your skin?</span>
                    </div>
                    <div class="wrap-image_hidden">
                        <div class="toggle-wrap toggle-wrap-image">
                            <input type="checkbox" id="toggle4" class="toggle-switch" />
                            <label for="toggle4"></label>
                        </div>
                        <div class="hidden-image_download">
                            <div class="custom-file-input">
                                <label for="file-input4">
                                    <span>Add image</span>
                                </label>
                                <input type="file" id="file-input4">
                            </div>


                        </div>
                    </div>
                    <div class="check-box-line">
                        <span class="tittle-check">Variant 1</span>
                        <div class="item-check">
                            <div class="wrap-check-label-wrap">
                                <input type="checkbox" id="question1" class="styled-checkbox" />
                                <label for="question1" class="checkbox-label">Very often</label>
                            </div>
                            <span class="delete-line"></span>
                        </div>
                    </div>
                    <div class="check-box-line">
                        <span class="tittle-check">Variant 2</span>
                        <div class="item-check">
                            <div class="wrap-check-label-wrap">
                                <input type="checkbox" id="question2" class="styled-checkbox" />
                                <label for="question2" class="checkbox-label">Often</label>
                            </div>
                            <span class="delete-line"></span>
                        </div>
                    </div>
                    <div class="check-box-line">
                        <span class="tittle-check">Variant 3</span>
                        <div class="item-check">
                            <div class="check-input">
                                <input placeholder="Text">
                            </div>
                            <span class="delete-line"></span>
                        </div>
                    </div>
                    <div class="check-box-line">
                        <div class="hidden-add_variant">
                            <span class="tittle-check">Variant 4</span>
                            <div class="item-check">
                                <div class="check-input">
                                    <input placeholder="Text">
                                </div>
                                <span class="delete-line"></span>
                            </div>
                        </div>
                        <span class="add-variant"><img src="img/add.svg" alt="" /> Add variant</span>

                    </div>
                </div>
                <div class="links-foot">
                    <a href="#" class="delete"><img src="img/delete.svg" alt="">Delete </a>
                    <div class="pagination-questions">
                        <span class="up"></span>
                        <span class="down"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <span class="tittle">Radio</span>
                <div class="item-checkbox-question">
                    <div class="line-question">
                        <span class="tittle-line_question">Question</span>
                        <span class="name-line_question">How often do you think about the health of your skin?</span>
                    </div>
                    <div class="wrap-image_hidden">
                        <div class="toggle-wrap toggle-wrap-image">
                            <input type="checkbox" id="toggle5" class="toggle-switch" />
                            <label for="toggle5"></label>
                        </div>
                        <div class="hidden-image_download">
                            <div class="custom-file-input">
                                <label for="file-input5">
                                    <span>Add image</span>
                                </label>
                                <input type="file" id="file-input5">
                            </div>


                        </div>
                    </div>
                    <div class="check-box-line">
                        <span class="tittle-check">Variant 1</span>
                        <div class="item-check">
                            <div class="wrap-check-label-wrap">
                                <input type="radio" value="value1" name="group2" id="question11" class="styled-checkbox" />
                                <label for="question11" class="checkbox-label">Very often</label>
                            </div>
                            <span class="delete-line"></span>
                        </div>
                    </div>
                    <div class="check-box-line">
                        <span class="tittle-check">Variant 2</span>
                        <div class="item-check">
                            <div class="wrap-check-label-wrap">
                                <input type="radio" value="value2" name="group2" id="question12" class="styled-checkbox" />
                                <label for="question12" class="checkbox-label">Often</label>
                            </div>
                            <span class="delete-line"></span>
                        </div>
                    </div>
                    <div class="check-box-line">
                        <span class="tittle-check">Variant 3</span>
                        <div class="item-check">
                            <div class="check-input">
                                <input placeholder="Text">
                            </div>
                            <span class="delete-line"></span>
                        </div>
                    </div>
                    <div class="check-box-line">
                        <div class="hidden-add_variant">
                            <span class="tittle-check">Variant 4</span>
                            <div class="item-check">
                                <div class="check-input">
                                    <input placeholder="Text">
                                </div>
                                <span class="delete-line"></span>
                            </div>
                        </div>
                        <span class="add-variant"><img src="img/add.svg" alt="" /> Add variant</span>

                    </div>
                </div>
                <div class="links-foot">
                    <a href="#" class="delete"><img src="img/delete.svg" alt="">Delete </a>
                    <div class="pagination-questions">
                        <span class="up"></span>
                        <span class="down"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="sidebar sidebar-dashboard_only">
            <div class="content-right-sidebar">

                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s1.svg" alt="" /> </span>
                            <p>Input</p>
                        </div>

                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s2.svg" alt="" /> </span>
                            <p>Slider</p>
                        </div>

                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s3.svg" alt="" /> </span>
                            <p>Checkbox</p>
                        </div>

                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s4.svg" alt="" /> </span>
                            <p>Radio</p>
                        </div>
                    </div>
                </div>



                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s1.svg" alt="" /> </span>
                            <p>Input</p>
                        </div>

                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s2.svg" alt="" /> </span>
                            <p>Slider</p>
                        </div>

                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s3.svg" alt="" /> </span>
                            <p>Checkbox</p>
                        </div>

                    </div>
                </div>
                <div class="item-sidebar draggable block" draggable="true">
                    <div class="wrap-sidebar">
                        <span class="plus-button"></span>
                        <div class="container-side-icon">
                            <span class="icon-l-side"><img src="img/s4.svg" alt="" /> </span>
                            <p>Radio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div id="dialog-content" class="modal1" style="display:none;">
    <span class="tittle-modal1">Unlink this product from this quiz?</span>
    <div class="wrapper-form_group">
        <div class="photo-mini-prod">
            <img src="img/prod2.png" alt="" />
        </div>
        <div class="description-products">
            <p>Nivea body aclarado natural - face and body cream 400 ml</p>
            <span class="code__product">84524789645</span>
        </div>
    </div>
    <span class="icon-broken"></span>
    <div class="line-toggle-text">
        <div class="toggle-wrap">
            <input checked type="checkbox" id="toggle-text" class="toggle-switch" />
            <label for="toggle-text"></label>
        </div>
        <div class="text-overflow_modal">
            <p>How often do you think about the health of your skin?</p>
        </div>
        <span class="dates-modal">21.08.2023 - 05.09.2023</span>
    </div>
    <div class="links-modal">
        <a href="#" class="blue-link"><img src="img/f1.svg" alt="">Unlink</a>
        <a data-fancybox-close class="cancel-link">Cancel</a>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/my.js"></script>
}