
.placement-fixed--left {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: auto;
    bottom: 0; 
}

.placement-fixed--right {
    position: fixed;
    top: var(--header-height);
    left: auto;
    right: 0;
    bottom: 0;
}

.placement-fixed--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
}