.button {
    color: var(--text_color);
    font-size: 14px;
    font-weight: 600;
    padding: 0px 20px 0px 20px;
    border-radius: 12px;
    border: 1px solid var(--gray_lightest);
    height: 52px;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all .5s ease;
    cursor: pointer;
}

    .button:hover {
        background-color: var(--button_hover_color);
    }

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 72px 1fr;
}





.fieldset {
    border-radius: 12px;
    border: 1px solid lightgray;
}
.header {
    border-bottom: 1px solid var(--gray_lightest);
    background: white;
    z-index: 3;
}
 
.image {
    width: 100%;
    height: 100%;
}
.input-title {
    width: 100%;
    cursor: text;
}

.plus-button {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    cursor: pointer;
    background: url(/img/plus-button.svg) no-repeat center center;
}

    .plus-button:hover {
        background: url(/img/plus-hover.svg) no-repeat center center;
        background-color: var(--main_blue);
    }

.sidebar {
    width: 270px;
    background-color: white;
    z-index: 2;
}

.simple-text {
    color: var(--thumbnail_text-color);
    font-size: 16px;
}



.slide-tuner {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: var(--header-height);
}

.slide-wrapper {
    height: 100%;
    border-radius: 12px;
    padding: 10px 0;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.text-input-wrap {
    color: #130E4A;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #F8FAFB;
    border-radius: 8px;
    box-sizing: border-box;
}

:root {
    --toggle-switch_height: 25px;
    --toggle-switch_width: 44px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: var(--toggle-switch_width);
    height: var(--toggle-switch_height);
    
}

.toggle-switch .toggle-switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch-label {
    cursor: pointer;
}

.toggle-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button--gapped {
    gap: 10px;
}

.fieldset__innerContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fieldset__legend {
    color: gray;

}
.image--half-size {
    width: 50%;
    height: 50%;
}
.image--third-size {
    width: 30%;
    height: 30%;
}
.input-title__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
    margin: 0;
}

.sidebar__container {
    overflow: hidden auto;
    height: calc(100vh - 76px);

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
}
.sidebar__item--selected {
    background-color: var(--background-selected-color);
}

.sidebar__item {
    width: 100%;
    height: 170px; 
    flex-shrink: 0;
    box-sizing: border-box;

    padding: 10px 10px;
}

    .sidebar__item:hover {
        background-color: var(--background_gray);
    }

.simple-text--weight-bold {
   font-weight: bold;
}
.slide-tuner__card {
    border-radius: 12px;
    border: 1px solid var(--gray_lightest);
    width: 35%;
    min-height: 50%;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.slide-tuner__item--expand {
    display: flex !important;
    gap: 10px;
} 
.slide-tuner__item {
    display: block;
    padding: 15px;
    width: 100%;
} 
.slide-wrapper__container {
    width: 100%;
    height: 100%;
    flex-shrink: 3;
    border-radius: 12px;
    border: 1px solid var(--gray_lightest);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-wrapper__thumbnail {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--gray_lightest);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

:root {
    --toggle-switch-input__translateX: calc(var(--toggle-switch_width) - 26px)
}

.toggle-switch__input:checked + .toggle-switch__slider { 
    background-color: var(--main_blue);
}

.toggle-switch__input:focus + .toggle-switch__slider {
    box-shadow: 0 0 1px var(--main_blue);
}

.toggle-switch__input:checked + .toggle-switch__slider:before {
    -webkit-transform: translateX(var(--toggle-switch-input__translateX));
    -ms-transform: translateX(var(--toggle-switch-input__translateX));
    transform: translateX(var(--toggle-switch-input__translateX));
}

:root {
    --toggle-switch-slider__size: calc(var(--toggle-switch_height) - 8px);
}

.toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

    .toggle-switch__slider::before {
        position: absolute;
        content: "";
        height: var(--toggle-switch-slider__size);
        width: var(--toggle-switch-slider__size);
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 15px;
    }


.slide-wrapper__container--no-border {
    border: none;
}
.slide-wrapper__thumbnail-picture--image {
    background: url(/img/other/image.svg) no-repeat center center;
}

.slide-wrapper__thumbnail-picture--info {
    background: url(/img/other/info.svg) no-repeat center center;
}

.slide-wrapper__thumbnail-picture--multi {
    background: url(/img/other/multiselect.svg) no-repeat center center;
}

.slide-wrapper__thumbnail-picture--question {
    background: url(/img/other/question.svg) no-repeat center center;
}

.slide-wrapper__thumbnail-picture--yesno {
    background: url(/img/other/yes.svg) no-repeat center center;
}

.slide-wrapper__thumbnail-title {
    color: var(--thumbnail_text-color);
    font-size: 12px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.background-gray {
    background-color: var(--background_gray);
}

.flex_top-center {
    justify-content: start;
    align-items: center;
}

.flex_gap_15 {
    gap: 15px;
}

.grid-placement_left {
    grid-column: 1/2;
}

.grid-placement_center {
    grid-column: 2/3;
}

.grid-placement_right {
    grid-column: 3/4;
}

.grid-placement_top {
    grid-row: 1/2;
}


.grid-placement_column-span-full {
    grid-column: span 3;
}

.height_full-without-header {
    height: calc(100vh - 76px);
}

.overflow_vertical {
    overflow: hidden auto;
}


.placement-fixed--left {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: auto;
    bottom: 0; 
}

.placement-fixed--right {
    position: fixed;
    top: var(--header-height);
    left: auto;
    right: 0;
    bottom: 0;
}

.placement-fixed--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
}
.position_fixed-left {
    position: fixed;
    left: 0;
}

.position_fixed-right {
    position: fixed;
    right: 0;
}
:root {
    --background_gray: #f8fafb;
    --main_blue: #274ADC;
    --main_blue-light: #677edd;
    --main_blue-lightest: #acbaf3;
    --gray_lightest: #EAE9EB;
    --thumbnail_text-color: #5A5781;
    --background-selected-color: #f4f6ff;
    --header-height: 76px;
    --text_color: #130E4AB2;
    --button_hover_color: #F5F4F5;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
}

.container {
    min-height: 100vh;
    background-color: var(--background_gray); 
}

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-track {
    background-color: #dcdcdc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_blue-light);
    border-radius: 8px;
    border: 1px solid var(--main_blue-lightest);
}

input {
    outline: 0;
    border: none;
}

* {
    box-sizing: border-box;
}
