:root {
    --background_gray: #f8fafb;
    --main_blue: #2D55FB;
    --main_blue-darker: #274ADC;
    --main_blue_low-opacity: #274adc38;
    --main_blue-light: #677edd;
    --main_blue-lightest: #acbaf3;
    --gray_lightest: #EAE9EB;
    --thumbnail_text-color: #5A5781;
    --background-selected-color: #f4f6ff;
    --header-height: 76px;
    --text_color: #130E4AB2;
    --button_hover_color: #F5F4F5;
}
