:root {
    --background_gray: #f8fafb;
    --main_blue: #274ADC;
    --main_blue-light: #677edd;
    --main_blue-lightest: #acbaf3;
    --gray_lightest: #EAE9EB;
    --thumbnail_text-color: #5A5781;
    --background-selected-color: #f4f6ff;
    --header-height: 76px;
}
