html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
}

.container {
    min-height: 100vh;
    background-color: var(--background_gray); 
}

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-track {
    background-color: #dcdcdc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_blue-light);
    border-radius: 8px;
    border: 1px solid var(--main_blue-lightest);
}

input {
    outline: 0;
    border: none;
}

* {
    box-sizing: border-box;
}
