.text-input-wrap {
    color: #130E4A;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #F8FAFB;
    border-radius: 8px;
    box-sizing: border-box;
}
